* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  list-style: none;
}

body {
  text-align: center;
  color: white;
  margin: 0;
  min-height: 200vh;
}

.box {
  background-color: black;
  padding: 10px;
  border: 6px solid white;
  transition: 0.25s ease;
}

p {
  visibility: hidden;
  margin: 10px auto 0;
  width: 240px;
  opacity: 0;
  transition: 0.6s;
  transform: translate(-200px);
}

.show-response {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.mousemove {
  width: 50px;
  height: 50px;
  border: 2px solid pink;
  position: absolute;
  border-radius: 50px;
  transform: translate(-50%, -50%);
  z-index: -1;
}
